body,
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    transition: 0.2s;
}

.dark-mode{
    background: #000000d1;
    color: white;
    input{
        background: #000000d1;
        color: white;
    }
}

.loader-container{
    display: grid;
    grid-template-columns: 1fr 400px;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 450px;
    height: 30px;
    box-shadow: 2px 2px 4px #00000050;
    padding: 20px;
    margin-bottom: 16px;
    border-radius: 4px;
    position: relative;
    transition: 0.2s;
}

.modal-blocker{
    position: fixed;   
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000050;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 100px;
    height: 30px;
    margin: 0 20px;
    border: none;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
}

.btn-success{
    background-color: green;
    border: solid 2px rgb(3, 45, 3);
    color: white;
}

.btn-success:hover{
    background-color: rgb(0, 102, 0); 
}

.btn-danger{
    background-color: red;
    border: solid 2px rgb(103, 10, 10);
    color: white;
}

.btn-danger:hover{
    background-color: rgb(200, 2, 2);
}